[DEFAULT]
ignoreip  = 127.0.0.1 {{ ansible_default_ipv4.address }} {{ ' '.join(friendly_networks) }}
bantime   = 86400
destemail = {{ admin_email }}
banaction = iptables-multiport
action    = %(action_)s

# JAILS
[sshd]
enabled   = true
mode      = ddos
bantime   = 3600
maxretry  = 10
logpath   = /var/log/auth.log

[pam-generic]
enabled   = true
banaction = iptables-allports

{% if fail2ban_apache %}
[apache-auth]
enabled = true

[apache-badbots]
enabled = true
{% endif %}

{% if fail2ban_nginx %}
[nginx-http-auth]
enabled = true
{% endif %}

{% if fail2ban_postfix %}
[postfix]
enabled  = true
maxretry = 1
{% endif %}
